<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Opinion</title>
   <link rel="stylesheet" type="text/css" href="../static/css/style.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
   <div class="container">
      <div class="header">
         <a href="file:///C:/Users/Patricio/Downloads/Opionion/templates/index.html" class="logo">
            Opi
         </a>
         <a href="file:///C:/Users/Patricio/Downloads/Opionion/templates/index.html">
            <img href="file:///C:/Users/Patricio/Downloads/Opionion/templates/index.html" class="cebolla" src="../static/img/cebolla.jpg" alt="Onion Logo">
         </a>
         <a href="file:///C:/Users/Patricio/Downloads/Opionion/templates/index.html" class="logo">
            nion
         </a>
      </div>
   </div>
   <div class="search-box">
      <input type="text" id="searchInput" placeholder="Nombre de la pelicula">
      <button class="btn btn-secondary" onclick="searchSessions()">Buscar</button>
   </div>
   <img class="wave" src="../static/img/ondas.png">
   <a href="file:///C:/Users/Patricio/Downloads/Opionion/templates/index.html" class="volver-button">Volver</a>
</body>
</html>